node_modules/
.packdeps-*/
dist/
out/
coverage/
*.tsbuildinfo
*.log*
.DS_Store
.env
.env.*
!.env.example
!.env.*.example
*.local
omp-session-*.html
packages/desktop/plugins/*

docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/
packages/desktop/docs/*
ignore/

docs/superpowers
copyright/
